In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
cricket_data = pd.read_csv("Cricket-all-teams-all-matches.csv")

In [6]:
cricket_data.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard,Format
0,India,Pakistan,drawn,NaN,Bengaluru,"Dec 8-12, 2007",Test # 1852,Test
1,India,Pakistan,drawn,NaN,Eden Gardens,"Nov 30-Dec 4, 2007",Test # 1850,Test
2,India,Pakistan,India,6 wickets,Delhi,"Nov 22-26, 2007",Test # 1849,Test
3,Pakistan,India,Pakistan,341 runs,Karachi,"Jan 29-Feb 1, 2006",Test # 1783,Test
4,Pakistan,India,drawn,NaN,Faisalabad,"Jan 21-25, 2006",Test # 1782,Test

In [7]:
# Remove drawn games
new_cricket_data = cricket_data.dropna()

In [8]:
#Restrict Data to just Test matches
test_cricket_data = new_cricket_data.loc[new_cricket_data['Format'] == 'Test ', :]

In [9]:
#Add Year Column
test_cricket_data['Year'] = test_cricket_data['Match Date'].str[-4:]

C:\Users\krish\AppData\Local\Temp\ipykernel_16572\280095735.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cricket_data['Year'] = test_cricket_data['Match Date'].str[-4:]

In [10]:
#Sort Data By Year
test_cricket_data_sorted = test_cricket_data.sort_values('Year', ascending=True).groupby(['Year', 'Team 1'])

In [13]:
#Add Wins-Per-Year Column
wins_per_year_team = test_cricket_data_sorted.size().reset_index(name='wins')

In [14]:
wins_per_year_team

     Year        Team 1  wins
0    1877     Australia     2
1    1879     Australia     1
2    1880       England     1
3    1882     Australia     2
4    1882       England     1
..    ...           ...   ...
577  2025     Australia     1
578  2025      Pakistan     2
579  2025  South Africa     1
580  2025     Sri Lanka     2
581  2025      Zimbabwe     2

[582 rows x 3 columns]